.goTopHidden{
    display: none;
}

.goTopButton{
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    color: rgba(252,248,241,0.8);
    box-shadow: 2px, 2px 5px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    bottom: 5%;
    left: 95%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: 900;
    animation: fadeIn 0.6s;
}



.topListItem:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 820px) {
    .goTopButton{
        bottom: 10%;
        left: 93%;
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 400px) {
    .goTopButton{
        bottom: 10%;
        left: 90%;
        width: 32px;
        height: 32px;
    }
}