/* @import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");
.section {
  width: 100%;
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 4rem;
}

.boxes-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.box {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*, *::before , *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutpage {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
}

.wrapper {
    width: 400%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    font-size: 8rem;
    position: fixed;
    z-index: 10;
    top: 15%;
    left: 4rem;
    line-height: 0.9;
}

.line {
    background-color: red;
    height: 1rem;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section.character::before {
    content: '';
    width: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.block {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(-100%);
}

.now::before, .now .block {
    background-color: #ffc107;
}

.past::before, .past .block {
    background-color: #d4f886;
}

.future::before, .future .block {
    background-color: #b4bee3;
}

.caption {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    width: 30%;
    font-weight: 400;
    color: #444;
    font-family: monospace;
    transform: translate(100%, 100%);
}

.character img {
    position: relative;
    z-index: 10;
    height: auto;
    width: 25vw;
    transform: translateY(-100%);
}

.huge-text {
    font-size: 16rem;
    width: 100%;
    text-align: center;
    color: #f52b2b;
    position: absolute;
    top: 20%;
    left: 14%;
    transform: translateY(100%);
    font-weight: 700;
    letter-spacing:1.7em;
}

.timeline {
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-size: 3rem;
    text-align: right;
    transform: translateY(-200%);
}

.timeline span {
    display: block;
    font-size: 70%;
    color: #fff;
}

.quote {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 2rem;
    width: 30%;
    text-align: right;
    transform: translateY(200%);
}

.quote::before, .quote::after {
    content: '';
    color: #fff;
}


@media only screen and (max-width: 400px) and (max-height: 700px) {
    .huge-text {
        font-size: 12rem;
        top: 20%;
        left: 0;
    }

    .logo {
        font-size: 6rem;
        top: 15%;
        left: 2rem;
    }

    .character img {
        left:23%;
        width: 50vw;
    }

    .quote {
        display: none;
    }

    .timeline {
        position: absolute;
        top: 4rem;
        right: 2rem;
        font-size: 3rem;
    }

    .caption {
        position: absolute;
        width: 44%;
        left: 7%;
        bottom: 27%;
        font-size: 11px;
    }
}

@media only screen and (max-width: 400px) and (min-height: 700px) {
    .huge-text {
        font-size: 12rem;
        top: 20%;
        left: 0;
    }

    .logo {
        font-size: 6rem;
        top: 15%;
        left: 2rem;
    }

    .character img {
        left:24%;
        bottom: 10%;
        width: 50vw;
    }

    .quote {
        display: none;
    }

    .timeline {
        position: absolute;
        top: 4rem;
        right: 1rem;
        font-size: 3rem;
    }

    .caption {
        position: absolute;
        width: 46%;
        left: 6%;
        bottom: 40%;
        font-size: 11px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 820px) {
    .huge-text {
        font-size: 12rem;
        top: 20%;
        left: 6%;
        letter-spacing: 2em;
    }
    .timeline {
        right: 2rem;
    }
    .character img {
        left:25%;
        bottom: 15%;
        width: 50vw;
    }
    .caption {
        position: absolute;
        width: 45%;
        left: 7%;
        bottom: 45%;
        font-size: 11px;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1255px) {
    .huge-text {
        font-size: 14rem;
        top: 6%;
        left:-2%;
        letter-spacing: 2em;
    }
    .character img {
        left:25%;
        width: 50vw;
    }
    .timeline {
        position: absolute;
        top: 4rem;
        right: 1rem;
        font-size: 5rem;
    }
    .caption {
        position: absolute;
        width: 40%;
        left: 4%;
        bottom: 10%;
        font-size: 2vh;
    }
    .quote {
        bottom: 8rem;
        right: 4rem;
        font-size: 2rem;
        width: 40%;
        text-align: right;
        transform: translateY(200%);
    }
}

@media only screen and (min-width: 1255px) and (max-width: 1700px) {
    .huge-text {
        font-size: 12em;
        top: 20%;
        left: 13%;
        letter-spacing: 2em;
    }
}