.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    flex-direction: column;
    align-items: center;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarItem > img{
    width: 80%;
    height: 80%;
    margin-top: 15px;
}

.sidebarItem > p{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    padding: 30px;
}

.sidebarList{
    list-style: none;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.sidebarListItem{
    display:inline-flex;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
    justify-content: center;
    
}

.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .sidebar{
        display: none;
    }
    
}